# Code Hello Word

In [ ]:
print ('Hello World') #petik ' atau "" menampilkan perintah yang sama
print ("Hello World")

**Note : setiap perintah *print* yang digunakan akan mencetak baris baru.**
setiap tanda "#" untuk membuat ***comment ***pada script.

Tugas Praktek:
1. Tampilkan hasil perhitungan(20*2+6) pada baris pertama
2. Tampilkan teks "Academy DQLab" pada baris kedua

In [ ]:
print (20*2+6) #fungsi matematika
print ("Academy DQLab") #fungsi mencetak kalimat

**bold text** Printing Data Type

In [ ]:
#tipe data Boolean
print (True) 

#tipe data string
print ("Ayo belajar Python")
print('Belajar Python sangat Mudah di DQlab')

#tipe data integer
print (20)

#tipe data Float
print (3.14)

#tipe data List
print ([1 ,2 ,3 ,4 ,5])
print (["satu", "dua", "tiga"])

#tipe data Tuple
print((1 ,2 ,3 ,4 ,5))
print (("satu", "dua", "tiga"))

#tipe data Dictionary
print({"nama":"Budi", 'umur':20})

#tipe data Dictionary dimasukkan ke dalam variabel biodata 
biodata = {"nama":"Andi", 'umur': 21} #proses inisialisasivaroabel biodata
print(biodata) #proses pencetakan variabel biodata yang berisi tipe data Dictionary

type(biodata) #proses untuk mengecek jenis tipe data. akan tampil


var_string = "Belajar Python DQLAB"
var_int = 10
var_float = 3.14
var_list = [1, 2, 3, 4]
var_tuple = ("satu", "dua", "tiga")
var_dict = {"nama":"Andi", 'umur': 20}

print(var_string)
print(var_int)
print(var_float)
print(var_list)
print(var_tuple)
print(var_dict)

print(type(var_string))
print(type(var_int))
print(type(var_float))
print(type(var_list))
print(type(var_tuple))
print(type(var_dict))

# Struktur Kontrol: Percabangan Keputusan

**IF Statement**

In [ ]:
i = 10 #inisialisasi variable i yang memiliki nilai 10

if(i==10): #pengecekan nilai i apakah sama dengan 10
    print("ini adalah angka 10") #jika TRUE maka akan mencetak kalimat ini

In [18]:
i = 7 #inisialisasi variable i yang memiliki nilai 10

if(i==10): #pengecekan nilai i apakah sama dengan 10
  print("ini adalah angka 10") #jika TRUE maka akan mencetak kalimat ini

**IF... ELSE...**

In [ ]:
i = 10 #inisialisasi variable i yang memiliki nilai 10
if(i==10): #pengecekan nilai i apakah sama dengan 10
    print("ini adalah angka 10") #jika TRUE maka akan mencetak kalimat ini
else:
    print("bukan angka 10") #jika FALSE akan mencetak kalimat ini

#Tugas
i = 5 #inisialisasi variable i yang memiliki nilai 10

if(i==10): #pengecekan nilai i apakah sama dengan 10
    print("ini adalah angka 10") #jika TRUE maka akan mencetak kalimat ini
else:
    print("bukan angka 10") #jika FALSE akan mencetak kalimat ini

**IF... ELIF... ELSE...**

In [ ]:
i=5

if(i==5):
     print("ini adalah angka 5")
elif(i>5):
     print("lebih besar dari 5")
else:
     print("lebih kecil dari 5")


#Modifikasi#
i=7

if(i==5):
     print("ini adalah angka 5")
elif(i>5):
     print("lebih besar dari 5")
else:
     print("lebih kecil dari 5")

## Penjelasan: Untuk i=7, nilai variable i tidak memenuhi syarat dari kondisi pertama yaitu apakah i = 5? Selanjutnya, nilai variabel i dicek pada kondisi kedua, apakah i > 5? Kondisi kedua ini memenuhi bahwa i > 5, sehingga dicetaklah pernyataan "lebih besar dari 5".


#Ubah kembali nilai variable i menjadi 3
i=3

if(i==5):
     print("ini adalah angka 5")
elif(i>5):
     print("lebih besar dari 5")
else:
     print("lebih kecil dari 5")

#Penjelasan : Untuk i=3, nilai variable i tidak memenuhi syarat dari kondisi pertama yaitu apakah i = 5? Selanjutnya, nilai variabel i dicek pada kondisi kedua, apakah i > 5? Kondisi kedua ini masih tidak memenuhi bahwa i > 5. Dengan demikian kondisi ketiga sebagai piliha terakhir yang akan dicetak yaitu pernyataan "lebih kecil dari 5".

**NESTED IF**

In [ ]:
i = 2

if(i < 7): #kondisi 1.0
	print("nilai i kurang dari 7")
	if (i < 3): #kondisi 1.1
		print("nilai i kurang dari 7 dan kurang dari 3")
	else :
			print("nilai i kurang dari 7 tapi lebih dari 3")

# Operator Matematika dan Pembanding

**Praktik Operasi Matematika**

In [ ]:
a = 10
b = 5

selisih = a - b
jumlah = a + b
kali = a * b
bagi = a / b

print("Hasil penjumlahan a dan b adalah", jumlah)
print("Selisih a dan b adalah :",selisih)
print("Hasil perkalian a dan b adalah :",kali)
print("Hasil pembagian a dan b adalah:",bagi)

**Operasi modulus**

In [ ]:
c=10
d=3

modulus = c % d
print("Hasil modulus",modulus)

**Tugas Mid Praktek**

In [ ]:
angka=5

if(angka % 2 == 0):
	print("angka termasuk bilangan genap")
else:
	print("angka termasuk bilangan ganjil")

# Perulangan
Perulangan atau looping merupakan salah satu elemen atau fungsi yang bisa dikatakan sangat menunjang untuk kebutuhan programming dan data science.

**while**

In [ ]:
#nilai awal j =0
j = 0 

#ketika j kurang dari 6 lakukan perulangan, jika tidak stop perulangan
while j<6: 
    #lakukan perintah ini ketika perulangan
    print("Ini adalah perulangan ke -",j) 
    #setiap kali diakhir perulangan update nilai dengan ditambah 1.
    j=j+1

**for (1)**

Maksud dari fungsi for i in range (1,6) adalah, jika kita konversi pada JAVA atau C sama dengan for(i=1;i<6i++). Jika dikonversi menjadi kalimat maka akan menjadi “perulangan dimulai dari nilai i = 1 hingga nilai i kurang dari 6 dimana setiap kali perulangan nilai i akan selalu ditambah 1”. Jika nilai i sudah mencapai 6 perulangan akan dihentikan.

In [ ]:
for i in range (1,6): #perulangan for sebagai inisialisasi dari angka 1 hingga angka yang lebih kecil daripada 6.

    print("Ini adalah perulangan ke -", i) #perintah jika looping akan tetap berjalan

**for (2) with access element**

**Tugas Praktek**:
Buatlah sebuah program yang bisa mengeluarkan angka 1 sampai 10.
Tampilan akan menunjukan "Angka ganjil 1" untuk angka ganjil dan "Angka genap 2" untuk angka genap. (Menggunakan looping for)
Note: Kode dasar sudah disertakan, Anda cukup mengganti tanda # dengan nilai-nilai yang sesuai.

In [ ]:
count=[1,2,3,4,5] #elemen list

for number in count: #looping untuk menampilkan semua elemen pada count
    print("Ini adalah element count : ", number) #menampilkan elemen list pada count

In [ ]:
for i in range (1,11):
	if(i %2 == 0):
		print("Angka genap",i)
	else:
		print("Angka ganjil",i)

# Function

**Membuat fungsi sendiri**
Fungsi pada Python, dibuat dengan kata kunci def  kemudian diikuti dengan nama fungsinya.

In [ ]:
def nama_fungsi():
    print ("Hello ini Fungsi")

nama_fungsi()

# Membuat Fungsi
def salam():
    print("Hello, Selamat Pagi")



## Pemanggilan Fungsi
salam()

**Parameter pada fungsi**

In [ ]:
def luas_segitiga(alas, tinggi): #alas dan tinggi merupakan parameter yang masuk
    luas = (alas * tinggi) / 2
    print("Luas segitiga: %f" % luas);



# Pemanggilan fungsi
##4 dan 6 merupakan parameter yang diinputkan kedalam fungsi luas segitiga
luas_segitiga(4, 6)

**Fungsi dengan Return Value**


 Cara mengembalikan nilai adalah menggunakan kata kunci return lalu diikuti dengan nilai atau variabel yang akan dikembalikan.

In [ ]:
#alas dan tinggi merupakan parameter yang masuk
def luas_segitiga(alas, tinggi):
    luas = (alas * tinggi) / 2
    return luas


# Pemanggilan fungsi
##4 dan 6 merupakan parameter yang diinputkan kedalam fungsi luas segitiga 
print("Luas segitiga: %d" % luas_segitiga(4, 6))

# Modul dan Package

**Import Package dan Menggunakan modul**

In [ ]:
import math
print("Nilai pi adalah:", math.pi)  # math.pi merupakan sintak untuk memanggil fungsi pi

**Import dengan Module Rename atau Alias**

In [ ]:
#menggunakan m sebagai module rename atau alias
import math as m

#m.pi merupakan sintak untuk memanggil fungsi
print("Nilai pi adalah:", m.pi)

**Import Sebagian Fungsi**

In [ ]:
from math import pi

print("Nilai pi adalah", pi)

**Import Semua isi Moduls**

In [ ]:
from math import *

print("Nilai e adalah:", e)

# Membaca dari File

**Membaca Teks File (CSV)**

In [ ]:
import requests
from contextlib import closing
import csv

# tentukan lokasi file, nama file, dan inisialisasi csv
url = 'https://storage.googleapis.com/dqlab-dataset/penduduk_gender_head.csv'

# baca file csv secara streaming 
with closing(requests.get(url, stream=True)) as r:
    f = (line.decode('utf-8') for line in r.iter_lines())

    reader = csv.reader(f, delimiter=',')

    # membaca baris per baris
    for row in reader:
        print(row)

**Membaca file CSV dengan menggunakan PANDAS**

In [ ]:
import pandas as pd
pd.set_option("display.max_columns",50)

table = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/penduduk_gender_head.csv")
table.head()
print(table)

# Grafik Dasar dengan Matplotlib

**Bar Chart**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


table = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/penduduk_gender_head.csv")
table.head()
x_label = table['NAMA KELURAHAN']
plt.bar(x=np.arange(len(x_label)),height=table['LAKI-LAKI WNI'])
plt.show()

**Parameter dalam Grafik (Memberikan Nilai Axis dari data CSV)**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

table = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/penduduk_gender_head.csv")
table.head()

x_label = table['NAMA KELURAHAN']
plt.bar(x=np.arange(len(x_label)),height=table['LAKI-LAKI WNI'])
plt.xticks(np.arange(len(x_label)), table['NAMA KELURAHAN'], rotation=30)
plt.show()

**Menambah Title dan Label pada Grafik**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


table = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/penduduk_gender_head.csv")
table.head()

x_label = table['NAMA KELURAHAN']
plt.bar(x=np.arange(len(x_label)),height=table['LAKI-LAKI WNI'])
plt.xticks(np.arange(len(x_label)), table['NAMA KELURAHAN'], rotation=90)
plt.xlabel('Kelurahan di Jakarta Pusat')
plt.ylabel('Jumlah Penduduk Laki - Laki')
plt.title('Persebaran Jumlah Penduduk Laki- Laki di Jakarta Pusat')

plt.show()