<a href="https://colab.research.google.com/github/Shellawati/Learn-Python-Fundamental-for-Data-Science/blob/main/Python_Fundamental_for_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Code Hello Word

In [4]:
print ('Hello World') #petik ' atau "" menampilkan perintah yang sama
print ("Hello World")

Hello World
Hello World

**Note : setiap perintah *print* yang digunakan akan mencetak baris baru.**
setiap tanda "#" untuk membuat ***comment ***pada script.

Tugas Praktek:
1. Tampilkan hasil perhitungan(20*2+6) pada baris pertama
2. Tampilkan teks "Academy DQLab" pada baris kedua

In [5]:
print (20*2+6) #fungsi matematika
print ("Academy DQLab") #fungsi mencetak kalimat

46
Academy DQLab

# Printing Data Type

In [12]:
#tipe data Boolean
print (True) 

#tipe data string
print ("Ayo belajar Python")
print('Belajar Python sangat Mudah di DQlab')

#tipe data integer
print (20)

#tipe data Float
print (3.14)

#tipe data List
print ([1 ,2 ,3 ,4 ,5])
print (["satu", "dua", "tiga"])

#tipe data Tuple
print((1 ,2 ,3 ,4 ,5))
print (("satu", "dua", "tiga"))

#tipe data Dictionary
print({"nama":"Budi", 'umur':20})

#tipe data Dictionary dimasukkan ke dalam variabel biodata 
biodata = {"nama":"Andi", 'umur': 21} #proses inisialisasivaroabel biodata
print(biodata) #proses pencetakan variabel biodata yang berisi tipe data Dictionary

type(biodata) #proses untuk mengecek jenis tipe data. akan tampil


var_string = "Belajar Python DQLAB"
var_int = 10
var_float = 3.14
var_list = [1, 2, 3, 4]
var_tuple = ("satu", "dua", "tiga")
var_dict = {"nama":"Andi", 'umur': 20}

print(var_string)
print(var_int)
print(var_float)
print(var_list)
print(var_tuple)
print(var_dict)

print(type(var_string))
print(type(var_int))
print(type(var_float))
print(type(var_list))
print(type(var_tuple))
print(type(var_dict))

True
Ayo belajar Python
Belajar Python sangat Mudah di DQlab
20
3.14
[1, 2, 3, 4, 5]
['satu', 'dua', 'tiga']
(1, 2, 3, 4, 5)
('satu', 'dua', 'tiga')
{'nama': 'Budi', 'umur': 20}
{'nama': 'Andi', 'umur': 21}
Belajar Python DQLAB
10
3.14
[1, 2, 3, 4]
('satu', 'dua', 'tiga')
{'nama': 'Andi', 'umur': 20}
<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'dict'>